@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

h1{
  color: rgb(126, 126, 126) !important;
    text-align: center;
}
h5{
    font-weight: 200 !important;
    /* font-family:sans-serif; */
}
.btn:hover{
    background-color: transparent !important;
    color: rgb(172, 170, 170) !important;
}

body {
    background-color: transparent;
}

.card {
    border: none;
}

.card-color{
    background-color: red;
}
.user-content p {
    margin-top: 5px;
    font-size: 12px;
}
.user-image{
    height: 100px;
}


.a-cards{
    width: 100%;
}


.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  background: rgb(22, 22, 22);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

/* .showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
} */
/* .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3a3a3a;
  mix-blend-mode: overlay;
  background-image: url(E1XW7TEWUAUpAt9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */

.text p
{
  font-size: 1.2em;
  color: #fff;
  margin: 20px 0;
  font-weight: 200;
  /* max-width: 700px; */
}


.social
{
  /* position: relative; */
  z-index: 10;
  /* bottom: 5px !important; */
  /* right: 20px; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  margin-bottom: 0%;
  margin-left: 29%;
}
.social li
{
  list-style: none;
}
.social li a
{
  /* display: inline-block; */
   margin-left: 50px;
  float: left;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;

}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.ft{
    color: rgb(255, 255, 255);
    background-color: rgb(22, 22, 22);
    width: 100% !important;
    height: 55px;
    margin-bottom: 0%;
    /* position: relative; */
}

.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #3f3f3f; 
}

.projects {
    margin-left: 90px !important;
}

@media (max-width: 768px) {
    .projects {
        margin-left: 25px !important;
    }
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 2.8em;
  }
  .text h3
  {
    font-size: 1.7em;
  }

  .overlay{
      background-position: center;
  }

.social{
    margin-left: 5%;
}
.social li a
{
   margin-right: 20px;
   margin-left: 10px;
  /* float: right;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s; */
}
  .a-cards{
    width: 85%;

}
}

@media (max-width: 430px) {

  .social {
    margin-left: 0;
    padding-left: 0;
  }

  .social li a {
    margin-right: 20px;
    margin-left: 20px !important;
    padding-left: 0;
    /* float: right;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s; */
  }
}

@media (max-width: 400px){
  .social {
    margin-left: 0;
    padding-left: 0;
  }

  .social li a {
    margin-right: 20px;
    margin-left: 10px !important;
    padding-left: 0;
    /* float: right;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s; */
  }
}
